/* Tyhjä aloituspohja: lisää omat tyylisi. */
nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}

nav li a:hover{
    color:blue
}

table, th, td{
    border: 1px solid black;
}

caption{
    margin-top: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #f8f8f8

}

footer p{
    margin-bottom: 2px;
    margin-top: 0;
}

nav{
    margin-bottom: 10px;
}